<nav class="navbar navbar-custom">
    <div class="container-fluid">
        <a href="" class="navbar-brand">{{title}}</a>
    </div>    
</nav>

<div class="container">
    <app-domain-listing></app-domain-listing>
</div>